@charset "UTF-8";

@media (max-width: 1560px) {
    /* Main Config */
    .lab-images img {
        width: 585.1428571428571px;
        height: 346.4285714285714px;
    }
}

@media (max-width: 1330px) {
    /* Main Config */
    .main-container-info {
        width: 90%;
    }

    .lab-images img {
        width: 512px;
        height: 303.125px;
        margin-bottom: 20px;
    }

    .partners-group {
        height: 60px;
    }

    /* Footer Config */
    .footer-container-info {
        width: 80%;
    }
}

@media (max-width: 1100px) {
    /* Header Config */
    .home h1 {
        width: 90%;
        text-align: center;
        font-size: 4em;
    } 

    .home h2 {
        width: 90%;
        text-align: center;
        font-size: 2em;
    }

    /* Main Config */
    .main-container {
        margin-top: 60px;
    }

    .main-container h3 {
        font-size: 1.6em;
    }

    .nanochemtech-info {
        font-size: 1.2em;
    }

    .main-container-info {
        width: 85%;
    }

    .main-container-info img {
        width: 400px;
        height: 200px;
    }

    .info {
        width: 376px;
        height: 176px;
    }

    .info h4 {
        font-size: 1.2em;
    }

    .info p {
        font-size: 1.1em;
    }

    .lab-images {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .lab-images img {
        width: 585.1428571428571px;
        height: 346.4285714285714px;
        margin: 0px;
        margin-bottom: 20px;
    }

    /* Footer Config */
    .footer-container h3 {
        font-size: 1.4em;
    }

    .footer-container-info {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-container-info iframe {
        border-radius: 20px;
        width: 500px;
        height: 250px;
    }

    .mensagem {
        margin-top: 30px;
        text-align: center;
        width: 50%;
    }

    .mensagem h4 {
        font-size: 1.3em;
    }

    .mensagem p {
        font-size: 1.2em;
    }

    .horario {
        text-align: center;
        width: 50%;
    }

    .horario h4 {
        font-size: 1.3em;
    }

    .horario p {
        font-size: 1.2em;
    }
}

@media (max-width: 920px) {
    /* Main Config */
    .main-container {
        margin-top: 50px;
    }

    .main-container h3 {
        font-size: 1.5em;
    }

    .nanochemtech-info {
        font-size: 1.2em;
    }

    .main-container-info {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }

    .main-container-info img {
        margin-bottom: 30px;
    }

    #medium {
        display: flex;
    }

    #medium img {
        order: 1;
    }

    #medium .info {
        order: 2;
    }

    .lab-images {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .lab-images img {
        width: 455.1111111111111px;
        height: 269.4444444444444px;
        margin: 0px;
        margin-bottom: 20px;
    }

    .partners-group {
        height: 50px;
    }

    /* Footer Config */
    .footer-container {
        padding-top: 50px;
    }

    .footer-container h3 {
        font-size: 1.3em;
    }
}

@media (max-width: 576px) {
    /* Header Config */
    .home h1 {
        font-size: 3em;
        margin-bottom: 10px;
    }

    .home h2 {
        font-size: 1.5em;
    }

    /* Main Config */
    .main-container h3 {
        font-size: 1.5em;
        margin-bottom: 30px;
    }

    .nanochemtech-info {
        width: 90%;
        font-size: 1.1em;
        margin-bottom: 40px;
    }

    .main-container-info img {
        width: 374px;
        height: 187px;
    }

    .info {
        width: 350px;
    }

    .info h4 {
        font-size: 1.3em;
    }
    
    .info p {
        font-size: 1.1em;
    }

    .lab-images {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .lab-images img {
        width: 372.3636363636364px;
        height: 220.4545454545455px;
        margin: 0px;
        margin-bottom: 15px;
    }

    .partners-group {
        height: 40px;
    }

    /* Footer Config */
    .footer-container-info {
        flex-direction: column;
        width: 90%;
    }

    .footer-container-info iframe {
        width: 350px;
        height: 200px;
    }

    .mensagem {
        width: 100%;
        margin-bottom: 30px;
    }

    .horario {
        width: 100%;
    }

    .copy-info p {
        font-size: 0.7;
    }
}

@media (max-width: 517px) {
    /* Main Config */
    .partners-logos img {
        height: 20px;
    }
}

@media (max-width: 420px) {
    /* Main Config */
    .partners-logos img {
        height: 30px;
    }
}