@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    overflow-x: hidden;
}

body {
    background-color: rgb(250, 251, 252);
}

/* Set Barra de Rolagem */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(36, 36, 36);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 100, 134);
    width: 8px;
}

/* Header Config */
.home {
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home h1 {
    font-size: 5em;
    font-weight: 500;
    color: white;
    text-shadow: 0.5px 3px 7px rgba(0, 0, 0, 0.678);
}

.home h2 {
    font-size: 3em;
    font-weight: 500;
    color: white;
    text-shadow: 0.5px 3px 7px rgba(0, 0, 0, 0.678);
}

.home a {
    margin-top: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    color: white;
    padding: 15px 20px;
    border-radius: 25px;
    border: 2px solid white;
}

.home a:hover {
    background-color: white;
    color: rgb(59, 100, 134);
    transition: 0.6s;
}

/* Main Config */
.main-container {
    margin-top: 90px;
}

.main-container h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: rgb(59, 100, 134);
}

.nanochemtech-info {
    width: 70%;
    margin: auto;
    text-align: center;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1.3em;
    color: rgb(63, 63, 63);
    margin-bottom: 70px;
}

.main-container-info {
    width: 70%;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 80px;
}

.main-container-info img {
    border-radius: 10px;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 576px;
    background-color: aliceblue;
    border-radius: 15px;
    border: 2px solid rgb(225, 240, 252);
    padding: 10px;
}

.info h4 {
    margin-bottom: 25px;
    font-family: 500;
    font-size: 1.5em;
    color: rgb(59, 100, 134);
}

.info p {
    width: 95%;
    text-align: center;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1.3em;
    color: rgb(63, 63, 63);
}

.lab {
    display: flex;
    flex-direction: column;
    background-color: rgb(225, 240, 252);
}

.lab h3 {
    margin-top: 20px;
}

.lab-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.lab-images img {
    width: 744.7272727272727px;
    height: 440.9090909090909px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.164);
}

.team {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

.team h3 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.team-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.cont-team-images {
    width: 260px;
    height: 611px;
    display: flex;
    justify-content: start;
    align-items: center; 
    flex-direction: column;
}

.cont-team-images img {
    width: 260px;  
    height: 370px;   
    object-fit: cover;
    border-radius: 10px;
    border: 1px solid rgb(225, 240, 252);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.164);
}

.cont-team-images h4 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(59, 100, 134);
    font-size: 1.1em;
    text-align: center;
    flex-shrink: 0;
}

.cont-team-images p {
    margin-bottom: 20px;
    color: rgb(36, 36, 36);
    font-weight: 500;
    font-size: 1.1em;
    text-align: center;
    flex-shrink: 0;
}

.partners {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(225, 240, 252);
}

.partners-group {
    overflow: hidden;
    width: 100%;
}

.image-wrapper {
    display: flex;
    flex-shrink: 0;
    width: max-content;
    animation: scroll-images 15s linear infinite;
}

.partners-group img {
    width: 200px;
    height: auto;
    margin-right: 70px;
    padding-bottom: 20px;
}

@keyframes scroll-images {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.products {
    margin-top: 20px;
    margin-bottom: 20px;
}

.products p {
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: rgb(36, 36, 36);
}

/* Footer Config */
.footer-container {
    padding-top: 70px;
    margin: auto;
    background-color: rgb(225, 240, 252);
}

.footer-container h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: rgb(59, 100, 134);
}

.social-medias {
    text-align: center;
    margin: 20px 0px 40px 0px;
}

.social-medias a {
    margin: 0px 10px 0px 10px;
}

.social-medias a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.social-medias a img:hover {
    box-shadow: 1px 1px 10px rgba(36, 36, 36, 0.425);
    transition: 0.4s;
}

.footer-container-info {
    display: flex;
    margin: auto;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 80px;
}

.footer-container-info iframe {
    border-radius: 20px;
    width: 800px;
    height: 300px;
}

.footer-container-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horario {
    margin-top: 30px;
    width: 100%;
}

.horario h4 {
    margin-bottom: 15px;
    font-family: 500;
    font-size: 1.3em;
    color: rgb(59, 100, 134);
}

.horario p {
    text-align: left;
    line-height: 1.5em;
    font-weight: 500;
    font-size: 1.3em;
    color: rgb(36, 36, 36);
}

.copy-info p {
    font-size: 0.9;
    text-align: center;
}

/* Botão WhatsApp */

#botao-whats {
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
}